/**index.wxss**/
.index{
  display: flex;
  flex-direction: column;
  padding: 0 16rpx;
  position: relative;
  .bg{
    width: 100%;
    height: 200rpx;
    background-color: #f3514f;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-left-radius: 16rpx;
    border-bottom-right-radius: 16rpx;
  }
}